.information_container {
background: #0c0e12;
background: linear-gradient(35deg, rgb(27, 32, 41) 0%, rgba(73, 87, 107, 1) 100%);
color: white;
width: auto;
padding: 4rem
}
.text_information_container{
  background-color: aqua;
  width: auto;
}
.container_flex{
  display: flex;
}
.yt_container {
  background-color: red;
  padding: 1rem
}
.button{
  background-color: #040a1a;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.calendar_icon {
  font-size: 1.5rem
}