.information_container {
  background: #0e1733;
  background: linear-gradient(90deg, rgb(12, 20, 45) 0%, rgba(73, 87, 107, 1) 100%);
  color: white;
  width: 100%;
  padding: 6rem
}

.text_information_container {
  width: 100%;
  height: 20rem;
  margin-right: 20rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 0.3rem;
}

.subtitle {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.text_especial {
  font-size: 1.9rem;
  margin-bottom: 1.9rem;
  background: linear-gradient(to left, rgb(253, 155, 155), rgb(150, 204, 206));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.texts_information_container {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.container_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.yt_container {
  width: 100%;
  height: 20rem;
}

.button {
  background-color: #040a1a;
  color: white;
  border: none;
  font-size: 1.1rem;
  border-radius: 3rem;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  bottom: 1rem;
}

.calendar_icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.list_container {
  padding: 3rem;

}

.list_title_container {
  text-align: center;
}

.title_list {
  color: #344053;
  margin-bottom: 2rem;
}

.subtitle_container {
  color: #64748b;
  margin-bottom: 2rem;
}


.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.list_li {
  border: 1px solid #E0E8EF;
  border-radius: 1rem;
  background: #E0E8EF;
  background: linear-gradient(153deg, rgba(224, 232, 239, 1) 50%, rgba(255, 255, 255, 1) 100%);
  width: 25rem;
  height: 18rem;
  margin: 1rem;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list_li:hover {
  background: #0F172A;
  background: linear-gradient(153deg, rgba(15, 23, 42, 1) 33%, rgba(72, 86, 106, 1) 100%);
  transform: translateY(-1rem) scale(1.07);
  transition: 0.9s;
  color: white;
  z-index: 30;
  border: 1px solid #0F172A;
}

.icon_list {
  background-color: white;
  margin-top: 1rem;
  font-size: 2rem;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.list_li h2 {
  margin-bottom: 1.7rem;
}



@media screen and (max-width: 1200px) {
  .information_container {
    align-items: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .container_flex {
    display: flex;
    flex-direction: column;
  }

  .text_information_container {
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
  }

  .yt_container {}

  .button {
    position: none;
    top: 2rem;
  }
}